<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rhubarb dogma</title>
    <link rel="stylesheet" href="{{ css_path }}style.css">
    <link rel="stylesheet" href="{{ css_path }}css/scrollbar.css">
    <link rel="stylesheet" href="{{ css_path }}css/modal.css">
</head>
<body class="bg-gray-100 p-4 md:p-8">
    <header class="absolute top-0 left-0 m-4">
        <a href="/" class="font-times text-xl hover:underline">rhubarb dogma</a>
    </header>

    {% block content %}{% endblock %}

    <!-- Modal for image viewing -->
    <div id="imageModal" class="modal hidden">
        <div class="modal-content">
            <button id="prev" class="nav-button">
                <img src="{{ svg_path }}prev.svg" width="100" height="100" class="nav-button transition brightness-100 hover:brightness-100 hover:scale-110 transform transition-transform active:brightness-100">
            </button>
            <img id="modalImage" src="" alt="Modal Image" class="modal-img">
            <button id="next" class="nav-button">
                <img src="{{ svg_path }}next.svg" width="100" height="100" class="nav-button transition brightness-100 hover:brightness-100 hover:scale-110 transform transition-transform active:brightness-100">
            </button>
        </div>
    </div>

    <script src="{{ js_path }}modal.js"></script>
</body>
</html>